section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    margin-top: 80px;

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        span {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            color: #151717;
        }
    
        h1 {
            background: linear-gradient(90deg, rgba(82,34,208,1) 35%, rgba(255,97,150,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            font-size: 40px;
            margin: 0;
        }
    }

}

@media (min-width: 1080px) {
    section {
        flex-direction: row;
        justify-content: space-between;

        .main-content {
            align-items: flex-start;
            max-width: 50%;

            h1 {
                font-size: 56px;
            }
        }

    }
}