.btn-primary {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px;

    color: #DBFFFF;
    background: rgb(82,34,208);
    background: linear-gradient(90deg, rgba(82,34,208,1) 35%, rgba(255,97,150,1) 100%);

    border: none;
    border-radius: 8px;
}